<div class="container">
    <BR>
    <div class="row">
        <div class="card border-danger col-4" style="max-width: 30rem;">
            <div class="card-body">
            <h4 class="card-title">Combo 1</h4>
                <img src="assets/combo1.webp" class="img-fluid rounded-top" width="250" height="150"alt="">
            <p class="card-text">Combo de una hamburguesa simple (con de carne, lechuga, tomate y queso), una coca y unas papas chicas.</p>
            <h3>$2500</h3>
        </div>
        </div>
        <div class="card border-warning col-4" style="max-width: 30rem;">
            <div class="card-body">
            <h4 class="card-title">Combo 2</h4>
            <img src="assets/combo2.jpg" class="img-fluid rounded-top" width="250" height="150"alt="">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <h3>$1700</h3>
        </div>
        </div>
        <div class="card border-info col-4" style="max-width: 30rem;">
            <div class="card-body">
            <h4 class="card-title">Combo 3</h4>
            <img src="assets/combo33.jpg" class="img-fluid rounded-top" width="250" height="150"alt="">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <h3>$4000</h3>
        </div>
        </div>
    </div> 
    <BR>
    <div class="row">
        <div class="card border-primary col-4" style="max-width: 30rem;">
            <div class="card-body">
            <h4 class="card-title">Combo 4</h4>
            <img src="assets/combo4.webp" class="img-fluid rounded-top" width="250" height="150"alt="">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <h3>$4990</h3>
        </div>
        </div>
        <div class="card border-secondary col-4" style="max-width: 30rem;">
            <div class="card-body">

            <h4 class="card-title">Combo 5</h4>
            <img src="assets/combo5.jpg" class="img-fluid rounded-top" width="250" height="150"alt="">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <h3>$2700</h3>
        </div>
        </div>
        <div class="card border-success col-4" style="max-width: 30rem;">
            <div class="card-body">
            <h4 class="card-title">Combo 6</h4>
            <img src="assets/combo6.jpg" class="img-fluid rounded-top" width="250" height="250"alt="">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <h3>$1500</h3>
        </div>
        </div>
    </div> 
</div>