<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a rel="icon" [routerLink]="">
        <img src="assets/pacman.png" style="height: 40px; width: 100px;" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="">𝘐𝘯𝘪𝘤𝘪𝘰
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="menu">𝘔𝘦𝘯ú</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="menues">𝘔𝘦𝘯ú 𝘌𝘹𝘤𝘦𝘱𝘤𝘪𝘰𝘯𝘢𝘭</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="nosotros">𝘊𝘰𝘯𝘵𝘢𝘤𝘵𝘰</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pedidos">𝘗𝘦𝘥𝘪𝘥𝘰𝘴</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">𝘏𝘰𝘳𝘢𝘳𝘪𝘰𝘴 𝘥𝘦 𝘚𝘦𝘳𝘷𝘪𝘤𝘪𝘰</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>