<div class="row align-items-md-stretch" style="column-count: auto;">
  
  <div class="row"> 
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    <img src="assets/ini.png" class="img-fluid rounded-top" width="500" height="250"alt="">
    </div>
    <div class="col-md-4">
    </div>
</div>
        
    <body>
        <div class="row">
            <div class="col-md-2">
                <img src="assets/hamb.jpg" width="80px" height="80px">
            </div>
            <div class="col-md-2">
                <img src="assets/helado.jpg" width="65px" height="80px">
            </div> 
            <div class="col-md-2">
                <img src="assets/coca.jpg" width="80px" height="80px"> 
            </div>
            <div class="col-md-2">
                <img src="assets/pizza.jpg" width="70px" height="80px"> 
            </div> 
            <div class="col-md-2">
                <img src="assets/papa.jpg" width="80px" height="80px">
            </div> 
            <div class="col-md-2">
                <img src="assets/pancho.jpg" width="80px" height="80px">
            </div> 
        </div>
    </body>
 