<div class="container">
  <br>
  <br>
  <div class="row">

    <div class="card col-4">
      <h3 class="card-header">Sasha Aliendro</h3>
      <div class="card-body">
      </div>
      <img  src="assets/sasha3.jpg" class="img-fluid rounded-top" width="200" height="150" alt="flor">
      <div class="card-body">
        <p class="card-text">Fui parte de la creacion de este proyecto</p>
      </div>
      <div class="card-body">
      </div>
    </div>

    <div class="card col-4">
      <h3 class="card-header">Florencia Ripanti</h3>
      <div class="card-body">
      </div>
      <img src="assets/flor3.jpg" class="img-fluid rounded-top" width="200" height="150" alt="flor">
      <div class="card-body">
        <p class="card-text">Fui parte de la creacion de este proyecto</p>
      </div>
      <div class="card-body">
      </div>
    </div>

    <div class="card col-4">
        <h3 class="card-header">Mora Raab</h3>
        <div class="card-body">
        </div>
        <img src="assets/mora3.jpg" class="img-fluid rounded-top" width="200" height="150" alt="flor">
        <div class="card-body">
          <p class="card-text">Fui parte de la creacion de este proyecto</p>
        </div>
        <div class="card-body">

        </div>
      </div>
 </div>
  


  
  