<div class="container" >
    
    <div class="col-md-4" >
    </div>
    <div class="col-md-4" >
        <br>
        <video width="700" height="370" autoplay controls>
            <source src="assets/Eso.mp4" type="video/mp4">
        </video>
          
    </div>
    <div class="col-md-4" >
        <div class="alert alert-success">
            <strong>-</strong>Realizamos descuentos si pedís tu envío con Pedidos Ya
            <br>
            Si no te registraste, ingresa a esta página y hacelo ya!
            <a href="https://www.pedidosya.com.ar/" class="alert-link">https://www.pedidosya.com.ar/</a>.
          </div>
    </div>
</div>

  